
 <link rel="stylesheet" href="/assets/libs/fancybox/jquery.fancybox.min.css">
 <link rel="stylesheet" href="/assets/libs/fontawesome/css/all.min.css">
 <link rel="stylesheet" href="/assets/libs/flickity/flickity.min.css">
 <link rel="stylesheet" href="/assets/libs/highlightjs/vs2015.css">
 <link rel="stylesheet" href="/assets/libs/simplebar/simplebar.min.css">
 <link rel="stylesheet" href="/assets/libs/flickity-fade/flickity-fade.css">
 <link rel="stylesheet" href="/assets/fonts/feather/feather.css">
 <link rel="stylesheet" href="/assets/css/theme.min.css">

<bpl-deals></bpl-deals>
<bpl-header></bpl-header>
