
 <link rel="stylesheet" href="/assets/libs/fancybox/jquery.fancybox.min.css">
 <link rel="stylesheet" href="/assets/libs/fontawesome/css/all.min.css">
 <link rel="stylesheet" href="/assets/libs/flickity/flickity.min.css">
 <link rel="stylesheet" href="/assets/libs/highlightjs/vs2015.css">
 <link rel="stylesheet" href="/assets/libs/simplebar/simplebar.min.css">
 <link rel="stylesheet" href="/assets/libs/flickity-fade/flickity-fade.css">
 <link rel="stylesheet" href="/assets/fonts/feather/feather.css">
 <link rel="stylesheet" href="/assets/css/theme.min.css">

 <!-- search modal -->
<bpl-modal-search></bpl-modal-search>

  <!-- shopping cart modal -->
 <bpl-shopping-cart></bpl-shopping-cart>
<bpl-deals></bpl-deals>
<bpl-header></bpl-header>
<bpl-slider></bpl-slider>
<bpl-shop-by-category></bpl-shop-by-category>
<bpl-new-arrivals></bpl-new-arrivals>
<bpl-latest-in-blog></bpl-latest-in-blog>


