
<section class="py-12">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Heading -->
          <h2 class="mb-10 text-center">New Arrivals</h2>

        </div>
      </div>
    </div>
    <div class="flickity-page-dots-progress" data-flickity='{"pageDots": true}'>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="/assets/img/products/product-6.jpg" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Cotton floral print Dress</a> <br>
            <span class="text-muted">$40.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Badge -->
            <span class="badge badge-dark card-badge card-badge-left text-uppercase">
              Sale
            </span>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="/assets/img/products/product-10.jpg" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Suede cross body Bag</a> <br>
            <span class="font-size-xs text-gray-350 text-decoration-line-through">$85.00</span>
            <span class="text-primary">$49.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="/assets/img/products/product-32.jpg" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Cotton leaf print Shirt</a> <br>
            <span class="text-muted">$65.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="/assets/img/products/product-7.jpg" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Leather Sneakers</a> <br>
            <a class="text-primary" href="#">Select Options</a>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="/assets/img/products/product-11.jpg" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Another fine dress</a> <br>
            <span class="text-muted">$99.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="/assets/img/products/product-33.jpg" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Baseball Cap</a> <br>
            <span class="text-muted">$10.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="/assets/img/products/product-49.jpg" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Leather sneakers</a> <br>
            <span class="text-muted">$19.00</span>
          </div>

        </div>
      </div>

    </div>
  </section>
  <section class="pb-12">
    <div class="container">
      <div class="row position-relative align-items-center">
        <div class="col-md-7 col-lg-5 offset-lg-1">

          <!-- Slider -->
          <div class="d-none d-md-block" data-flickity='{"fade": true, "asNavFor": "#sliderArrivals", "draggable": false}'>

            <!-- Item -->
            <div class="w-100">
              <img src="assets/img/products/product-34.jpg" alt="..." class="img-fluid">
            </div>

            <!-- Item -->
            <div class="w-100">
              <img src="assets/img/products/product-136.jpg" alt="..." class="img-fluid">
            </div>

            <!-- Item -->
            <div class="w-100">
              <img src="assets/img/products/product-138.jpg" alt="..." class="img-fluid">
            </div>

          </div>

        </div>
        <div class="col-md-5 col-lg-4 offset-lg-1 position-static">

          <!-- Preheading -->
          <h6 class="heading-xxs text-center text-gray-400">
            Perfect summer
          </h6>

          <!-- Heading -->
          <h3 class="mb-10 text-center">
            Summer Days Look
          </h3>

          <!-- Slider -->
          <div class="position-static flickity-buttons-lg" id="sliderArrivals" data-flickity='{"pageDots": true, "prevNextButtons": true}'>

            <!-- Item -->
            <div class="col-12">

              <!-- Card -->
              <div class="card">

                <!-- Badge -->
                <div class="badge badge-dark card-badge">
                  <span class="text-uppercase">New</span>
                </div>

                <!-- Image -->
                <div class="card-img">

                  <!-- Action -->
                  <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                    <i class="fe fe-heart"></i>
                  </button>

                  <!-- Image -->
                  <img class="card-img-top" src="assets/img/products/product-35.jpg" alt="...">

                </div>

                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                  <a class="font-size-lg text-body" href="product.html">Textured cotton Top</a>
                  <div>
                    <span class="text-gray-350 text-decoration-line-through">$90.00</span>
                    <span class="font-size-lg text-primary">$69.00</span>
                  </div>
                </div>

              </div>

            </div>

            <!-- Item -->
            <div class="col-12">

              <!-- Card -->
              <div class="card">

                <!-- Image -->
                <div class="card-img">

                  <!-- Action -->
                  <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                    <i class="fe fe-heart"></i>
                  </button>

                  <!-- Image -->
                  <img class="card-img-top" src="assets/img/products/product-137.jpg" alt="...">

                </div>

                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                  <a class="font-size-lg text-body" href="product.html">Animal crossbody Bag</a>
                  <div>
                    <span class="font-size-lg text-muted">$59.00</span>
                  </div>
                </div>

              </div>

            </div>

            <!-- Item -->
            <div class="col-12">

              <!-- Card -->
              <div class="card">

                <!-- Image -->
                <div class="card-img">

                  <!-- Action -->
                  <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                    <i class="fe fe-heart"></i>
                  </button>

                  <!-- Image -->
                  <img class="card-img-top" src="assets/img/products/product-139.jpg" alt="...">

                </div>

                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                  <a class="font-size-lg text-body" href="product.html">Jacket with Pockets</a>
                  <div>
                    <span class="font-size-lg text-muted">$70.00</span>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <bpl-new-arrival-modal></bpl-new-arrival-modal>

